.headcolor{
    color: #83A5BD;;
    text-align: left;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    padding-top: 30px;
}
button{
    background-color: #8CC928;
}
input.ng-invalid{
    border-left: 5px solid red;
}
input.ng-valid{
    border-left: 5px solid green;
}