<div class="container-fluid" style="padding-left: 20px; font-family: Roboto">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12" style="float: left;">
                <h1 class="headcolor">CREATE</h1>
            </div>
        </div>
    </div>
    <form #userForm="ngForm"  novalidate>
		<div class="form-group">
			<label>Name</label>
			<input type="text" #nameRef="ngModel" maxlength="11" minlength="3" class="form-control" name="name" ngModel required />
			<div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
				<div [hidden]="!nameRef.errors.required">
					Please Enter Name
				</div>
				<div [hidden]="!nameRef.errors.minlength">
					Please Enter At Least 3 Characters
				</div>
				<div [hidden]="!nameRef.errors.maxlength">
					Please Enter Characters Less than 10
				</div>
			</div>
		</div>
		<button [disabled]="!userForm.form.valid" type="submit" class="btn">Submit</button>
	</form>
</div>