<h1 class="headcolor" [hidden]="hidediv">Moment Message</h1>
<div class="container-fluid" [hidden]="hidediv" >
    <div class="row">
        <a class="full-width" [routerLink]="['first']" (click)="open()" >
            <div class="row rows" style="width: 100%;">
                <span class="bullet">1</span> <b> Choose the <u>moment</u> </b> &nbsp; to define your topic in order to resonate and connect with
                listerner
            </div>
        </a>
        <a class="full-width" [routerLink]="['second']" (click)="open()">
            <div class="row rows" style="width: 100%;">
                <span class="bullet">2</span> <b>Deliver the <u>message</u></b>&nbsp; with
                purposeful message
            </div>
        </a>

        <a class="full-width" routerLink="third" (click)="open()">
            <div class="row rows" style="width: 100%;">
                <span class="bullet">3</span> <b>Revel the <u>movement</u></b> &nbsp;through story, emotion
                & widsome to establish personal application
            </div>
        </a>
        <a class="full-width" routerLink="fourth" (click)="open()">
            <div class="row rows" style="width: 100%;">
                <span class="bullet">4</span> <b>Celebrate the <u>measure </u></b>&nbsp;  of success
                achieved through defined steps & calls to action
            </div>
        </a>
    </div>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>