<h1 class="headcolor">Moment Message</h1>
<div class="container-fluid" [hidden]="hidediv">
    <div class="row" >
        <div class="row rows" style="width: 100%;">
            <a routerLink="first" (click)="open()"><span class="bullet">1</span> The Moment to define your topic in order to resonate and connect with listerner </a>
        </div>
        <div class="row rows" style="width: 100%;">
            <a routerLink="second"><span class="bullet">2</span> Deliver the Message with purposeful message</a>
        </div>
        <div class="row rows" style="width: 100%;">
            <a routerLink="third"><span class="bullet">3</span> Revel the Moment through story, emotion & widsome to establish personal application</a>
        </div>
        <div class="row rows" style="width: 100%;">
            <a routerLink="fourth"><span class="bullet">4</span> Celebrate the measure of success achieved through defined steps & calls to action</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
