<h1 class="headcolor"><span class="bullet">3</span>MOVEMENT</h1>
<div class="container-fluid">
    <div class="row rows">
        <div class="col-md-12">
            <p>
                <b>Revel the <u>movement</u></b> &nbsp;through the story, emotion & wisdom to establish personal
                application
            </p>
        </div>
        <div class="col-md-12">
            <img class="img-size" src="../../assets/snow.jpg" alt="snow image">
        </div>
        <div class="col-md-12">
            <ul style="text-align: left; padding-top: 30px;">
                <li>Focous on connection with the listener by being full aware of their <u>context</u> & <u>situation</u> </li>
                <li>Focous on connection with the listener by being full aware of their context & situation </li>
                <li>Focous on connection with the listener by being full aware of their context & situation </li>
                <li>Focous on connection with the listener by being full aware of their context & situation </li>
            </ul>
        </div>
    </div>
</div>